Repository elastisys/compliantkubernetes-apps, pull requests merged in 2023-06, with the labels that each got.

#1610 pre-commit: Fix markdown lint
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chart_upgrade.md
  .github/pull_request_template.md
  .github/workflows/pre-commit.yml
  .mdl_style.rb
  .mdlrc
  .pre-commit-config.yaml
  README.md
  helmfile/README.md
  helmfile/charts/calico-felix-metrics/README.md
  helmfile/charts/node-local-dns/README.md
  helmfile/charts/prometheus-alerts/CHANGELOG.md
  helmfile/charts/prometheus-alerts/README.md
  migration/v0.11.x-v0.12.x/upgrade-apps.md
  migration/v0.14.x-v0.15.x/upgrade-apps.md
  migration/v0.16.x-v0.17.x/upgrade-apps.md
  migration/v0.17.x-v0.18.x/upgrade-apps.md
  migration/v0.18.x-v0.19.x/upgrade-apps.md
  migration/v0.19.x-v0.20.x/upgrade-apps.md
  migration/v0.20.x-v0.21.x/upgrade-apps.md
  migration/v0.21.x-v0.22.x/upgrade-apps.md
  migration/v0.22.x-v0.23.x/upgrade-apps.md
  migration/v0.23.x-v0.24.x/upgrade-apps.md
  migration/v0.25.x-v0.26.x/upgrade-apps.md
  migration/v0.26.x-v0.27.x/upgrade-apps.md
  migration/v0.27.0-v0.27.1/upgrade-apps.md
  migration/v0.29/README.md
  migration/v0.30/README.md
  migration/v0.7.x-v0.8.x/migrate-apps.md
  migration/v0.8.x-v0.9.x/upgrade-apps.md
  migration/v0.9.x-v0.10.x/upgrade-apps.md
  pipeline/README.md
  scripts/restore-sync/README.md
  scripts/restore/README.md
Labels: QA, tools

#1617 apps: Update Falco rules
  WIP-CHANGELOG.md
  helmfile/values/falco.yaml.gotmpl
Labels: falco

#1622 apps: fix migration hnc label
  migration/v0.30/apply/14-hnc-labels.sh
  migration/v0.31/apply/14-hnc-labels.sh
Labels: bug

#1605 bin: rook moved config values and exoscale init changes
  WIP-CHANGELOG.md
  bin/init.bash
  config/config/common-config.yaml
  helmfile/14-podsecuritypolicies.yaml
  helmfile/values/grafana-ops.yaml.gotmpl
  helmfile/values/podsecuritypolicies/common/rook-ceph.yaml.gotmpl
  helmfile/values/prometheus-alerts-sc.yaml.gotmpl
  helmfile/values/prometheus-user-alerts-wc.yaml.gotmpl
  helmfile/values/sc-servicemonitor.yaml.gotmpl
  helmfile/values/wc-servicemonitor.yaml.gotmpl
  migration/v0.31/README.md
  migration/v0.31/prepare/01-move-rook-values.sh
  pipeline/config/exoscale/common-config.yaml
Labels: not planned

#1621 apps sc: openstack api metrics
  WIP-CHANGELOG.md
  config/config/sc-config.yaml
  helmfile/50-applications.yaml
  helmfile/charts/openstack-monitoring/.helmignore
  helmfile/charts/openstack-monitoring/Chart.yaml
  helmfile/charts/openstack-monitoring/templates/_helpers.tpl
  helmfile/charts/openstack-monitoring/templates/clusterrolebinding.yaml
  helmfile/charts/openstack-monitoring/templates/prometheusrule.yaml
  helmfile/charts/openstack-monitoring/templates/service.yaml
  helmfile/charts/openstack-monitoring/templates/servicemonitor.yaml
  helmfile/charts/openstack-monitoring/values.yaml
  helmfile/values/openstack-monitoring.yaml.gotmpl
  helmfile/values/prometheus-alerts-sc.yaml.gotmpl
Labels: improvement

#1614 apps sc: upgrade harbor to 2.8.2
  WIP-CHANGELOG.md
  config/config/sc-config.yaml
  helmfile/50-applications.yaml
  helmfile/charts/harbor/init-harbor/files/init.sh
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-chartmuseum.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-core.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-redis.yaml
  helmfile/upstream/harbor/CONTRIBUTING.md
  helmfile/upstream/harbor/Chart.yaml
  helmfile/upstream/harbor/README.md
  helmfile/upstream/harbor/cert/tls.crt
  helmfile/upstream/harbor/cert/tls.key
  helmfile/upstream/harbor/docs/High Availability.md
  helmfile/upstream/harbor/docs/img/ha.png
  helmfile/upstream/harbor/templates/_helpers.tpl
  helmfile/upstream/harbor/templates/chartmuseum/chartmuseum-cm.yaml
  helmfile/upstream/harbor/templates/chartmuseum/chartmuseum-dpl.yaml
  helmfile/upstream/harbor/templates/chartmuseum/chartmuseum-pvc.yaml
  helmfile/upstream/harbor/templates/chartmuseum/chartmuseum-secret.yaml
  helmfile/upstream/harbor/templates/chartmuseum/chartmuseum-svc.yaml
  helmfile/upstream/harbor/templates/chartmuseum/chartmuseum-tls.yaml
  helmfile/upstream/harbor/templates/core/core-cm.yaml
  helmfile/upstream/harbor/templates/core/core-dpl.yaml
  helmfile/upstream/harbor/templates/core/core-pre-upgrade-job.yaml
  helmfile/upstream/harbor/templates/core/core-secret.yaml
  helmfile/upstream/harbor/templates/core/core-svc.yaml
  helmfile/upstream/harbor/templates/database/database-ss.yaml
  helmfile/upstream/harbor/templates/exporter/exporter-dpl.yaml
  helmfile/upstream/harbor/templates/exporter/exporter-secret.yaml
  helmfile/upstream/harbor/templates/internal/auto-tls.yaml
  helmfile/upstream/harbor/templates/jobservice/jobservice-cm-env.yaml
  helmfile/upstream/harbor/templates/jobservice/jobservice-cm.yaml
  helmfile/upstream/harbor/templates/jobservice/jobservice-dpl.yaml
  helmfile/upstream/harbor/templates/jobservice/jobservice-pvc-scandata.yaml
  helmfile/upstream/harbor/templates/nginx/configmap-http.yaml
  helmfile/upstream/harbor/templates/nginx/configmap-https.yaml
  helmfile/upstream/harbor/templates/notary/notary-svc.yaml
  helmfile/upstream/harbor/templates/portal/configmap.yaml
  helmfile/upstream/harbor/templates/portal/deployment.yaml
  helmfile/upstream/harbor/templates/portal/service.yaml
  helmfile/upstream/harbor/templates/registry/registry-dpl.yaml
  helmfile/upstream/harbor/templates/trivy/trivy-sts.yaml
  helmfile/upstream/harbor/test/e2e/Jenkinsfile
  helmfile/upstream/harbor/values.yaml
  helmfile/values/falco.yaml.gotmpl
  helmfile/values/harbor/harbor.yaml.gotmpl
  helmfile/values/podsecuritypolicies/service/harbor.yaml.gotmpl
  migration/v0.31/README.md
  migration/v0.31/apply/40-harbor.sh
  migration/v0.31/apply/80-apply.sh
  pipeline/test/services/service-cluster/testPodsReady.sh
Labels: harbor

#1649 apps sc: changed location for opensearch-curator image
  .pre-commit-config.yaml
  WIP-CHANGELOG.md
  helmfile/charts/opensearch/curator/values.yaml
  images/elasticsearch-curator/5/debian-10/Dockerfile
  images/elasticsearch-curator/5/debian-10/docker-compose.yml
  images/elasticsearch-curator/5/debian-10/prebuildfs/opt/bitnami/.bitnami_components.json
  images/elasticsearch-curator/5/debian-10/prebuildfs/opt/bitnami/licenses/licenses.txt
  images/elasticsearch-curator/5/debian-10/prebuildfs/usr/sbin/install_packages
  images/elasticsearch-curator/5/debian-10/rootfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  images/elasticsearch-curator/LICENSE.md
  images/elasticsearch-curator/README.md
  images/elasticsearch-curator/docker-compose.yml
Labels: opensearch

#1652 apps sc: add option to configure max shards in opensearch
  WIP-CHANGELOG.md
  config/config/sc-config.yaml
  helmfile/values/opensearch/common.yaml.gotmpl
Labels: opensearch

#1642 Dependency check in bin scripts
  WIP-CHANGELOG.md
  bin/ck8s
  bin/common.bash
Labels: QA

#1634 apps sc: harbor np generator
  README.md
  WIP-CHANGELOG.md
  config/config/sc-config.yaml
  helmfile/02-networkpolicies.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-acme-pods.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-backup.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-core.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-database.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-dns.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-exporter.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-jobservice.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-notary-server.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-notary-signer.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-portal.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-redis.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-registry.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-harbor-trivy.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/allow-init-harbor-job.yaml
  helmfile/charts/networkpolicy/service-cluster/templates/harbor/default-deny.yaml
  helmfile/values/networkpolicies/service/harbor.yaml.gotmpl
  helmfile/values/networkpolicy/service-cluster.yaml.gotmpl
  migration/v0.31/prepare/02-move-harbor-trivy-port.sh
Labels: harbor, not planned
