Repository elastisys/compliantkubernetes-apps, pull requests merged in 2023-04, with the labels that each got.

#1492 docs: fix migration arguments order
  migration/v0.30/README.md
Labels: bug

#1493 apps-sc: PSA and gatekeeper PSP for harbor
  WIP-CHANGELOG.md
  bootstrap/namespaces/helmfile/values/namespaces-sc.yaml.gotmpl
  helmfile/14-podsecuritypolicies.yaml
  helmfile/values/podsecuritypolicies/service/harbor.yaml.gotmpl
Labels: harbor

#1499 apps wc: Make user-rbac extra-workload-admins idempotent
  WIP-CHANGELOG.md
  helmfile/charts/user-rbac/templates/rolebindings/workload-admin.yaml
Labels: bug

#1514 apps sc: Ensure opensearch-configurer runs on changes
  WIP-CHANGELOG.md
  helmfile/charts/opensearch/configurer/templates/config.yml
  helmfile/charts/opensearch/configurer/templates/job.yaml
Labels: bug, opensearch

#1516 apps: Correct fluentd-aggregator buffer settings
  WIP-CHANGELOG.md
  helmfile/values/fluentd/aggregator-common.yaml.gotmpl
Labels: bug, fluentd

#1520 apps wc: Source extra Fluentd config
  WIP-CHANGELOG.md
  helmfile/values/fluentd/forwarder-workload-cluster-user.yaml.gotmpl
Labels: bug, fluentd

#1524 apps wc: Added so the user admins can read hierarchyconfigurations.
  WIP-CHANGELOG.md
  helmfile/charts/user-rbac/templates/clusterrolebindings/read-hierarchyconfigurations.yaml
  helmfile/charts/user-rbac/templates/clusterroles/read-hierarchyconfigurations-role.yaml
Labels: improvement

#1528 pipeline: Update pre-commit hooks and add cache-image
  .github/workflows/cache-image.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  WIP-CHANGELOG.md
  helmfile/charts/log-manager/deployment.yaml
Labels: pipeline

#1536 apps: Expose all `fluentd-aggregator` buffer settings
  WIP-CHANGELOG.md
  config/config/common-config.yaml
  helmfile/values/fluentd/aggregator-common.yaml.gotmpl
Labels: fluentd

#1548 apps sc: Use FQDN for Grafana to Dex communication
  WIP-CHANGELOG.md
  helmfile/values/grafana-user.yaml.gotmpl
  helmfile/values/kube-prometheus-stack-sc.yaml.gotmpl
Labels: bug

#1546 apps: Install podsecuritypolicies per stack
  WIP-CHANGELOG.md
  helmfile/14-podsecuritypolicies.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/capabilities.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/host-network-ports.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/host-paths.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/mutations/fsgroup.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/mutations/privilege-escalation.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/mutations/privileged.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/mutations/read-only-root.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/mutations/run-as-group.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/mutations/run-as-user.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/read-only-root.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/sysctls.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/users.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/custom/volumes.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/capabilities.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/host-namespace.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/host-network-ports.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/host-paths.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/capabilities.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/fsgroup.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/host-ipc.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/host-pid.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/privilege-escalation.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/privileged.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/run-as-group.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/run-as-non-root.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/mutations/supplemental-groups.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/privilege-escalation.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/privileged.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/sysctls.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/users.yaml
  helmfile/charts/gatekeeper/podsecuritypolicies/templates/default/volumes.yaml
  helmfile/values/podsecuritypolicies/common/falco.yaml.gotmpl
  helmfile/values/podsecuritypolicies/common/fluentd.yaml.gotmpl
  helmfile/values/podsecuritypolicies/common/ingress-nginx.yaml.gotmpl
  helmfile/values/podsecuritypolicies/common/kured.yaml.gotmpl
  helmfile/values/podsecuritypolicies/common/velero.yaml.gotmpl
  helmfile/values/podsecuritypolicies/service/harbor.yaml.gotmpl
  helmfile/values/podsecuritypolicies/service/opensearch.yaml.gotmpl
Labels: gatekeeper/opa
