Repository elastisys/compliantkubernetes-apps, pull requests merged in 2023-09, with the labels that each got.

#1743 New PR template for changelog and release notes generation
  .github/pull_request_template.md
  .github/workflows/pull-request.yml
  .pre-commit-config.yaml
  scripts/validate-pr.sh
Labels: feature

#1765 docs: Update PR template
  .github/pull_request_template.md
  scripts/validate-pr.sh
Labels: documentation, improvement

#1712 apps sc: thanos receiver out-of-order bug fix
  WIP-CHANGELOG.md
  config/config/sc-config.yaml
  helmfile/values/thanos/receiver.yaml.gotmpl
Labels: bug, thanos

#1782 apps: Fix CAPI metrics collection
  helmfile/values/kube-prometheus-stack-sc.yaml.gotmpl
  helmfile/values/kube-prometheus-stack-wc.yaml.gotmpl
Labels: bug

#1787 apps sc: make forwarder request timeout configurable
  config/config/common-config.yaml
  helmfile/values/fluentd/forwarder-workload-cluster.yaml.gotmpl
Labels: fluentd

#1791 config: more templating for gatekeeper
  config/config/common-config.yaml
  helmfile/values/gatekeeper/gatekeeper.yaml.gotmpl
Labels: gatekeeper/opa
