Repository elastisys/compliantkubernetes-apps, pull requests merged in 2023-01, with the labels that each got.

#1351 apps sc: synced timezone in all grafana dashboards
  WIP-CHANGELOG.md
  helmfile/charts/grafana-ops/dashboards/calicofelix-dashboard.json
  helmfile/charts/grafana-ops/dashboards/cephcluster-dashboard.json
  helmfile/charts/grafana-ops/dashboards/cephosdsingle-dashboard.json
  helmfile/charts/grafana-ops/dashboards/cephpools-dashboard.json
  helmfile/charts/grafana-ops/dashboards/elasticsearch-dashboard.json
  helmfile/charts/grafana-ops/dashboards/falco-dashboard.json
  helmfile/charts/grafana-ops/dashboards/fluentd-dashboard.json
  helmfile/charts/grafana-ops/dashboards/kubernetesstatus-dashboard.json
  helmfile/charts/grafana-ops/dashboards/nginx-dashboard.json
  helmfile/charts/grafana-ops/dashboards/node-exporter-full-dashboard.json
  helmfile/charts/grafana-ops/dashboards/prometheus-timeseries-dashboard.json
  helmfile/charts/grafana-ops/dashboards/thanos-compact-dashboard.json
  helmfile/charts/grafana-ops/dashboards/thanos-overview-dashboard.json
  helmfile/charts/grafana-ops/dashboards/thanos-query-dashboard.json
  helmfile/charts/grafana-ops/dashboards/thanos-query-frontend-dashboard.json
  helmfile/charts/grafana-ops/dashboards/thanos-receive-dashboard.json
  helmfile/charts/grafana-ops/dashboards/thanos-rule-dashboard.json
  helmfile/charts/grafana-ops/dashboards/thanos-store-dashboard.json
  helmfile/charts/grafana-ops/dashboards/uptime-dashboard.json
  helmfile/upstream/kube-prometheus-stack/values.yaml
  helmfile/values/kube-prometheus-stack-sc.yaml.gotmpl
Labels: grafana, improvement

#1358 apps sc: harbor np image replication
  WIP-CHANGELOG.md
  config/config/sc-config.yaml
  helmfile/charts/networkpolicy-service/templates/harbor-np.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-acme-pods.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-backup.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-chartmuseum.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-core.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-database.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-dns.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-jobservice.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-notary-server.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-notary-signer.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-portal.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-redis.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-registry.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-harbor-trivy.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/allow-init-harbor-job.yaml
  helmfile/charts/networkpolicy-service/templates/harbor/default-deny.yaml
  helmfile/charts/networkpolicy-service/values.yaml
  helmfile/values/service-cluster-networkpolicy.yaml.gotmpl
  migration/v0.27.x-v0.28.x/move-harbor-jobservice-port-to-ports.sh
  migration/v0.27.x-v0.28.x/upgrade-apps.md
  pipeline/config/exoscale/sc-config.yaml
Labels: bug, harbor, improvement

#1331 tests: Add troubleshooting script for logging/certificates/ingress
  bin/ck8s
  bin/test.bash
  pipeline/test/services/funcs.sh
  pipeline/test/services/service-cluster/testCertManager.sh
  pipeline/test/services/service-cluster/testIngress.sh
  pipeline/test/services/service-cluster/testOpensearch.sh
  pipeline/test/services/workload-cluster/testCertManager.sh
  pipeline/test/services/workload-cluster/testIngress.sh
Labels: feature, QA, top-QA

#1377 bin: Update IPs with Calico Wireguard enabled
  WIP-CHANGELOG.md
  bin/update-ips.bash
Labels: improvement

#1378 bin: Test scripts can now always access the kubeconfig
  WIP-CHANGELOG.md
  bin/ck8s
  bin/test.bash
Labels: bug

#1388 apps sc: Update NetworkPolicy Dashboard
  WIP-CHANGELOG.md
  helmfile/charts/grafana-ops/dashboards/networkpolicy-dashboard.json
Labels: grafana, improvement
