Repository elastisys/compliantkubernetes-apps, pull requests merged in 2024-11, with the labels that each got.

#2333 apps: remove old unused falco-psp-rbac chart
  .github/CODEOWNERS
  helmfile.d/charts/falco-psp-rbac/.helmignore
  helmfile.d/charts/falco-psp-rbac/Chart.yaml
  helmfile.d/charts/falco-psp-rbac/templates/_helpers.tpl
  helmfile.d/charts/falco-psp-rbac/templates/rbac.yaml
  helmfile.d/charts/falco-psp-rbac/values.yaml
Labels: app/falco, kind/cleanup

#2248 JSON schema contribution guide
  .pre-commit-config.yaml
  config/schemas/README.md
Labels: kind/documentation

#2356 apps sc: increase threshold for thanosobjstore latency alert
  helmfile.d/charts/prometheus-alerts/files/thanos.yaml
Labels: app/thanos
