Repository elastisys/compliantkubernetes-apps, pull requests merged in 2024-12, with the labels that each got.

#2357 apps: dropping some falco rules
  helmfile.d/values/falco/falco-common.yaml.gotmpl
Labels: app/falco

#2350 Upgrade OpenSearch to v2.17.1
  config/schemas/config.yaml
  helmfile.d/charts/opensearch/securityadmin/values.yaml
  helmfile.d/upstream/index.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/CHANGELOG.md
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/Chart.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/README.md
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/templates/deployment.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/templates/extraManifests.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/templates/service.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/templates/serviceMonitor.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/CHANGELOG.md
  helmfile.d/upstream/opensearch-project/opensearch/Chart.yaml
  helmfile.d/upstream/opensearch-project/opensearch/README.md
  helmfile.d/upstream/opensearch-project/opensearch/templates/extraManifests.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/service.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/serviceMonitor.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/statefulset.yaml
  helmfile.d/upstream/opensearch-project/opensearch/values.yaml
  helmfile.d/values/opensearch/dashboards.yaml.gotmpl
  helmfile.d/values/opensearch/securityadmin.yaml.gotmpl
  migration/v0.43/README.md
  migration/v0.43/apply/00-template.sh
  migration/v0.43/apply/20-upgrade-opensearch.sh
  migration/v0.43/apply/80-apply.sh
  migration/v0.43/prepare/00-template.sh
  migration/v0.43/prepare/50-init.sh
Labels: app/opensearch, app/opensearch-dashboards

#2382 apps: Mirror Bitnami images
  helmfile.d/values/gatekeeper/templates.yaml.gotmpl
  helmfile.d/values/thanos/query.yaml.gotmpl
  helmfile.d/values/thanos/receiver.yaml.gotmpl
  helmfile.d/values/velero-sc.yaml.gotmpl
  helmfile.d/values/velero-wc.yaml.gotmpl
  images/README.md
Labels: kind/improvement
