Repository elastisys/compliantkubernetes-apps, pull requests merged in 2024-01, with the labels that each got.

#1939 apps: falco networkpolicies with generator
  helmfile.d/charts/networkpolicy/common/templates/falco/allow-falco-exporter.yaml
  helmfile.d/charts/networkpolicy/common/templates/falco/allow-falco-sidekick.yaml
  helmfile.d/charts/networkpolicy/common/templates/falco/allow-falco.yaml
  helmfile.d/charts/networkpolicy/common/templates/falco/default-deny.yaml
  helmfile.d/charts/networkpolicy/common/values.yaml
  helmfile.d/charts/networkpolicy/service-cluster/templates/falco/allow-falco-sidekick-sc.yaml
  helmfile.d/charts/networkpolicy/service-cluster/values.yaml
  helmfile.d/charts/networkpolicy/workload-cluster/templates/falco/allow-falco-sidekick-wc.yaml
  helmfile.d/charts/networkpolicy/workload-cluster/values.yaml
  helmfile.d/stacks/falco.yaml
  helmfile.d/state.yaml
  helmfile.d/values/networkpolicies/common/falco.yaml.gotmpl
  helmfile.d/values/networkpolicy/common.yaml.gotmpl
  helmfile.d/values/networkpolicy/service-cluster.yaml.gotmpl
  helmfile.d/values/networkpolicy/workload-cluster.yaml.gotmpl
Labels: app/falco, cleanup

#1896 Add probe ingress for ingress nginx
  config/config/wc-config.yaml
  helmfile.d/charts/ingress-nginx-probe-ingress/.helmignore
  helmfile.d/charts/ingress-nginx-probe-ingress/Chart.yaml
  helmfile.d/charts/ingress-nginx-probe-ingress/templates/_helpers.tpl
  helmfile.d/charts/ingress-nginx-probe-ingress/templates/ingress.yaml
  helmfile.d/charts/ingress-nginx-probe-ingress/values.yaml
  helmfile.d/stacks/ingress-nginx.yaml
  helmfile.d/state.yaml
  helmfile.d/values/ingress-nginx-probe-ingress.yaml.gotmpl
Labels: feature

#1938 apps: cert-manager networkpolicies with generator
  .pre-commit-config.yaml
  helmfile.d/charts/networkpolicy/common/templates/cert-manager/cainjector.yaml
  helmfile.d/charts/networkpolicy/common/templates/cert-manager/certmanager.yaml
  helmfile.d/charts/networkpolicy/common/templates/cert-manager/default-deny.yaml
  helmfile.d/charts/networkpolicy/common/templates/cert-manager/startupapicheck.yaml
  helmfile.d/charts/networkpolicy/common/templates/cert-manager/webhook.yaml
  helmfile.d/stacks/cert-manager.yaml
  helmfile.d/state.yaml
  helmfile.d/values/networkpolicies/common/cert-manager.yaml.gotmpl
Labels: app/cert-manager, cleanup

#1937 apps: Velero networkpolicies with generator
  helmfile.d/charts/networkpolicy/common/templates/velero/allow-node-agent.yaml
  helmfile.d/charts/networkpolicy/common/templates/velero/allow-velero-upgrade-crds.yaml
  helmfile.d/charts/networkpolicy/common/templates/velero/allow-velero.yaml
  helmfile.d/charts/networkpolicy/common/templates/velero/default-deny.yaml
  helmfile.d/charts/networkpolicy/common/values.yaml
  helmfile.d/stacks/velero.yaml
  helmfile.d/state.yaml
  helmfile.d/values/networkpolicies/common/velero.yaml.gotmpl
Labels: app/velero, cleanup

#1960 apps: Add prometheus ingress for velero
  helmfile.d/values/networkpolicies/common/velero.yaml.gotmpl
Labels: bug, app/velero
