Repository elastisys/compliantkubernetes-apps, pull requests merged in 2025-02, with the labels that each got.

#2433 docs: Update QA checklist
  release/README.md
  release/qa-checklist.md
Labels: kind/documentation

#2438 apps sc: made alert runbooks configurable
  .pre-commit-config.yaml
  config/common-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/prometheus-alerts/files/cluster-api.yaml
  helmfile.d/charts/prometheus-alerts/files/hnc.yaml
  helmfile.d/charts/prometheus-alerts/files/missing-metrics-alerts.yaml
  helmfile.d/charts/prometheus-alerts/files/thanos-ruler.yaml
  helmfile.d/charts/prometheus-alerts/files/thanos.yaml
  helmfile.d/charts/prometheus-alerts/files/webhooks.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/alertmanager.rules.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/backup-status.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/blackbox.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/cert-manager-alerts.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/cluster-api.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/cluster-capacity-management-alerts.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/config-reloaders.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/coredns.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/daily-checks.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/disk-perf.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/falco-alerts.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/fluentd.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/general.rules.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/harbor.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/hnc.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kube-state-metrics.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-apps.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-resources.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-storage.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-system-apiserver.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-system-kube-proxy.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-system-kubelet.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-system.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kured.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/missing-metrics-rules.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/node-exporter.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/node-network.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/opensearch.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/openstack.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/packets-dropped.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/prometheus-operator.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/prometheus.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/thanos-ruler.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/thanos.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/webhooks.yaml
  helmfile.d/charts/prometheus-alerts/values.yaml
  helmfile.d/stacks/monitoring-prometheus.yaml.gotmpl
  helmfile.d/values/prometheus-alerts-runbook-urls.yaml.gotmpl
Labels: kind/improvement

#2414 apps-sc: add policy to reject local storage emptydir
  config/common-config.yaml
  config/k8s-installers/capi/wc-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/gatekeeper/constraints/templates/reject-local-storage-empty-dir/constraint.yaml
  helmfile.d/charts/gatekeeper/constraints/values.yaml
  helmfile.d/charts/gatekeeper/templates/policies/reject-local-storage-empty-dir.rego
  helmfile.d/charts/gatekeeper/templates/policies/tests/reject-local-storage-empty-dir.rego
  helmfile.d/charts/gatekeeper/templates/templates/reject-local-storage-empty-dir/template.yaml
  helmfile.d/values/gatekeeper/constraints.yaml.gotmpl
Labels: kind/feature, app/opa-gatekeeper

#2429 apps: gatekeeper policy to reject pods without controller
  config/common-config.yaml
  config/k8s-installers/capi/wc-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/gatekeeper/constraints/templates/reject-pod-without-controller/constraint.yaml
  helmfile.d/charts/gatekeeper/constraints/values.yaml
  helmfile.d/charts/gatekeeper/templates/policies/reject-pod-without-controller.rego
  helmfile.d/charts/gatekeeper/templates/policies/tests/reject-pod-without-controller.rego
  helmfile.d/charts/gatekeeper/templates/templates/reject-pod-without-controller/template.yaml
  helmfile.d/values/gatekeeper/constraints.yaml.gotmpl
Labels: kind/feature, app/opa-gatekeeper
